body {
/*	display: grid;
	grid-template-columns: 55% 45%;*/
	background-color: grey;
	overflow: hidden;
	margin: 0;
}

.navigation{
	display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 16pt;
    font-family: "Trebuchet MS";
    cursor: pointer;
    margin: 20px;
}

.mode_button{
	width: -webkit-fill-available;
	text-align: center;
}

.reader_mode_button {
    background-color: #fcfcff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.reader_mode_button:hover {
    box-shadow: 0px 0px 20px 0px black;
}

.question_mode_button {
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}

.question_mode_button:hover {
    box-shadow: 0px 0px 20px 0px white;
}

.balanced_mode_button {
	display: grid;
    background-color: grey;
    width: 150px;
    z-index: 1;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 5px;
}

.balanced_mode_button:hover {
    box-shadow: 0px 0px 8px 1px lightblue inset;
}

.half {
	display: grid;
	grid-row: 1 / 2;
}

.white_half {
	grid-column: 1 / 2;
	background-color: white;
	color: white;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.black_half {
	grid-column: 2 / 3;
	background-color: black;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.black_card_closer_wrapper {
	display: flex;
	justify-content: flex-end;
    margin-top: 12px;
    margin-right: 21px;
}

.black_card_closer{
	color: white;
	font-family: "Trebuchet MS";
	font-size: 14;
	cursor: pointer;
}

.black_card_closer:hover {
	color: red;
}

.module_copy_closer_wrapper {
	display: flex;
	justify-content: flex-end;
    margin-top: 0;
    margin-right: 12px;
}

.module_copy_closer{
	color: black;
	font-family: "Trebuchet MS";
	font-size: 14;
	cursor: pointer;
}

.module_copy_closer:hover {
	color: red;
}

.question_viewer_module {
	background-color: white;
	display: none;
}

#help {
	display: none;
    justify-content: space-around;
}

#q_help {
    padding: 5px;
    background-color: black;
    color: white;
    font-family: "Trebuchet MS";
}

#a_help {
    padding: 5px;
    background-color: white;
    color: black;
    font-family: "Trebuchet MS";
}

.content_area {
	height: inherit;
	margin: 0 10px;
}

.balanced_mode {
	display: grid;
	grid-template-columns: 50% 50%;
}

.reader_mode {
	display: grid;
	grid-template-columns: 100% 0%;
}

.question_mode {
	display: grid;
	grid-template-columns: 0% 100%;
}

.question_maker {
	height: inherit;
	padding: 20px;
	background-color: black;
	overflow: scroll;
	overflow-x: hidden;
}

.user_input {
	font-family: "Trebuchet MS";
	font-size: 20pt;
	resize: none;
	overflow: hidden;
}

.black_card {
	margin: 20px;
	padding: 0px;
	background-color: black;
	border: 1px solid lightblue;
}

.user_input_question {
	font-size: 32pt;
	height: 49px;
	background-color: black;
	color: white;
	margin: 10px;
	margin-bottom: 0px;
	border: 0;
	padding: 10px;
	width: -webkit-fill-available;
}
.user_input_question:focus {
	border-top: 2px solid #999;
	border-right: 1px solid #777;
	border-left: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 8px 9px 9px 9px;
}

.q_a_divider {
	height: 1px;
	border-bottom: 1px solid #999;
	margin: 10px;
}

.user_input_answer {
	background-color: black;
	color: white;
	border: 0;
	padding: 10px;
	height: 35px;
	margin: 10px;
	margin-top: 4px;
	width: -webkit-fill-available;
}

.user_input_answer:focus {
	border-bottom: 2px solid #999;
	border-right: 1px solid #777;
	border-left: 1px solid #777;
	padding: 10px 9px 8px 9px;
}

.publish_button {
	background-color: black;
	cursor: pointer;
	color: white;
	padding: 10px;
	color: lightblue;
	text-align: center
}

.publish_button:hover {
	background-color: #000033;
	color: white;
}

.user_input_search {
	border: 0;
	margin: 2px 20px;
	width: -webkit-fill-available;
	padding: 10px;
	height: 36px;
}

.white_card {
	margin: 20px 2%;
	padding: 20px;
	background-color: white;
	cursor: pointer;
}

.white_card:hover {
    box-shadow: 0px 0px 10px 5px lightblue inset;
}

#moduleCopy:hover {
	box-shadow: none;
	cursor: default;
}

.button_row {
	margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.button_row_button {
	width: fit-content;
	padding: 8px;
	cursor: pointer;
	font-family: "Trebuchet MS";
	font-weight: 700;
}

.delete_question_button {
	box-shadow: 0 0 3px 2px red inset;
}


.delete_question_button:hover {
	background-color: red;
	color: white;
}

.edit_answer_button {
	box-shadow: 0 0 3px 3px lightblue inset;
}
.edit_answer_button:hover {
	background-color: lightblue;
	color: white;
}

.question_div {
	background-color: white;
	font-size: 32pt;
	margin-bottom: 20px;
	padding: 5px;
	border-bottom: 1px solid #999;
}

.answer_div {
	background-color: white;
	font-size: 20pt;
	padding: 8px;
}

.display_pdf {
	height: inherit;
	margin: 0;
	background-color: #fcfcff;
	padding: 20px;
	overflow: scroll;
	overflow-x: hidden;
	direction: rtl;
}

.page {
	direction: ltr;
	margin: 30px;
	padding: 40px;
	box-shadow: -2px 0 20px #333;
	background-color: white
}

.author_1 {
	font-size: 30px;
	margin: 100px 0 100px 0;
}

.title {
	font-size: 25px;
	margin: 10px 0 10px 0;
}

.title_2 {
	margin-bottom: 100px;
}

.paragraph {
	margin: 10px;
	text-indent: 20px;
	font-family: sans-serif;
}

#paragraph_1 {
	text-indent: 0;
	margin: 20px 10px 0 10px;
	font-style: italic;
}

.quote {
	margin: 20px 20px 0 20px;
	font-style: italic;
	text-indent: 0;
}

#quote_2 {
	margin-bottom: 20px;
}

.quote_origin {
	margin: 0px 20px 20px 20px;
}

.section_heading {
	margin: 40px 10px 20px 10px;
	font-size: 22px;
}

.page_number{
	display: flex;
	margin: 20px 0 0 0;
	justify-content: flex-end;
}

.author_2 {
	text-indent: 100px;
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 50px;
}

.author_3 {
	display: flex;
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 50px;
	justify-content: flex-end;
	margin-right: 100px;

}

.sentence {
	margin: 0px 4px;
	padding: 0;
}

.reader_question {
	border: 0px;
	border-bottom: 2px dotted lightblue;
}

.sentence:hover {
}

.reader_question:hover {
	background-color: lightblue;
	cursor: pointer;
}

.citation {
	margin-left: 100px;
}

.italic {
	font-style: italic;
}

.image_and_caption {
	display: inline-grid; 
	grid-template-columns: 20% 80%;
}

.caption {
	display: inline-grid;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	align-self: top;
	margin-top: 100px;
	font-size: 9px;
	line-height: 15px;
}

.image {
	width: 100%;
	display: inline-grid;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.document_end {
    display: flex;
    height: 8px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 15px 26px 4px grey;
}